{% extends 'base.html' %}

{% block title %}Log in{% endblock title %}

{% block content %}
<div class="container">
	<h2>Log in</h2>
	<form method="post" class="lead">{% csrf_token %}
		<fieldset class="form-group">
			{{ form.as_p }}
			<input type="submit" class="btn btn-primary" value="Log in">
		</fieldset>
	</form>
</div>
{% endblock content %}