{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>{% block title %}{% endblock %}</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	</head>
	<body>
		<div class="container">
			{% if user.is_authenticated %}
				<br>
			    <p class="lead">Hello {{user.username}}! 
			   		<a class="btn btn-danger" href="{% url 'logout' %}" style="margin-left: 30px;">Log out</a>
				</p>
			{% else %}
				<p class="lead">You're not logged in!</p>
				<a class="btn btn-dark" href="{% url 'login' %}">Log in</a>
			{% endif %}

		</div>
		<br>
		<div class="container">			
			<a href="{% url 'new_post' %}"><button class="btn btn-success float-right" type="submit">New Post</button></a>
			<a href="{% url 'home' %}"><button class="btn btn-dark float-left" type="submit">Home</button></a>
		</div>
		<br>
		<br>
		<br>
		<h1>{% block content %}{% endblock %}</h1>

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script></body>
</html>