{% extends 'base.html' %}

{% block content %}
<div class="container">
	<form action="" method="post">{% csrf_token %}
		<fieldset class="form-group">
			<p class="lead">Are you sure you want to delete <b>{{post.title}}</b></p>

			<input type="submit" class="btn btn-primary" value="Delete">
		</fieldset>
	</form>
</div>
{% endblock %}