{% extends 'base.html' %}

{% block title %}Blog - Home{% endblock %}

{% block content %}
	{% for post in posts %}
	<div class="container top">
		<h2><a href="{% url 'post_detail' post.pk %}" target="_blank">{{post.title}}</a></h2>
		<p class="lead">{{post.body}}</p>
		<br>
		<h6><b>{{post.author}}</b></h6>
		<hr>
	</div>
	{% endfor %}

{% endblock %}