{% extends 'base.html' %}

{% block content %}
<div class="container">
	<h3>New Post</h3>
	<br>
	<form class="lead" action ="" method="post">{% csrf_token %}
		{{form.as_p}}
		
		<div class="form-group row">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-secondary">Save</button>
			</div>
		</div>
	</form>
</div>
{% endblock %}