{% extends 'base.html' %}

{% block title %}
	{{post.title}}
{%endblock%}

{% block content %}
	<div class="container">
		<h2>{{post.title}}</h2>
		<p class="lead">{{post.body}}</p>
		<br>
		<a href="{% url 'post_edit' post.pk %}"><button class="btn btn-info">Edit Post</button></a>
		<a href="{% url 'delete_post' post.pk %}"><button class="btn btn-info">Delete Post</button></a>
	</div>
{% endblock %}