{% extends 'base.html' %}

{% block content %}
<div class="container">
	<h3>Edit Post</h3>
	<form class="lead" action="" method="post">{% csrf_token %}
		<fieldset class="form-group">
			{{form.as_p}}
			<input class="btn btn-success" type="submit" value="Update">
		</fieldset>
	</form>	
</div>
{% endblock %}