{% extends 'base.html' %}

{% block title %}Sign Up{% endblock title %}

{% block content %}
	<div class="container">
		<h2>Sign Up</h2>
		<form class="lead" method="post">{% csrf_token %}
			{{form.as_p}}
			<input class="btn btn-primary" type="submit" value="Sign Up">
		</form>
	</div>
{% endblock content %}